<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <main>
      <login-form class="min-vh-100 d-flex"></login-form>
    </main>
  </body>
</html>
